# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# Build
build/
dist/
*.spec

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Local settings
settings.local.json